.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  padding-top: 0.5rem;
}

.wrapper {
  width: 100%;
  padding-top: 0.5rem;
}

.input {
  background-color: #fff;
  color: var(--mantine-color-dark-9);
  text-align: center;
  font-weight: 500;
}
