.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #1e90ff;
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
