.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 6.25rem; /* 100px converted to rem */
  font-weight: 900;
  letter-spacing: -0.125rem; /* -2px converted to rem */

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 3.125rem; /* 50px converted to rem */
  }
}
