.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.anchorLink {
  display: flex;
  width: 100%;
  align-items: start;
  margin-top: 0.125rem;
}

.verificationWrapper {
  padding-top: 2rem;
}

.manualVerificationWrapper {
  padding-top: 1.5rem;
  width: 100%;
}
